# This is a basic workflow to help you get started with Actions

name: Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    runs-on: macos-latest

    strategy:
      matrix:
        partners: ["maria", "pd"]
        single: ["deniz", "andreas"]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: print values
        id: printer
        run: |
          echo $partners
          echo $single
        env:
          partners: ${{ matrix.partners }}
          single: ${{ matrix.single }}

      - name: set consul acl (enabled/disabled)
        id: partners
        run: |
          if [ "$partners" == 'maria' ]
          then
              echo "partners=true" >> $GITHUB_ENV
          else
              echo "partners=false" >> $GITHUB_ENV
          fi
        env:
          partners: ${{ matrix.partners }}

      - name: Make .env_override in order to matrix test
        run: python .github/actions/test.py
        env:
          ENV_KEY_test: env.partners
