# This is a basic workflow to help you get started with Actions

name: Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    runs-on: macos-latest

    strategy:
      matrix:
        partners: ["maria", "pd"]
        single: ["deniz"]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: set consul acl (enabled/disabled)
        id: consul_acl
        run: |
          echo $partners
          echo $single
        env:
          partners: ${{ matrix.partners }}
          single: ${{ matrix.single }}

